doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='https://submarine-online.glitch.me/favicon.ico')
    link(rel='apple-touch-icon', href='https://submarine-online.glitch.me/favicon.ico')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@waritocomatta')
    meta(name='twitter:creator', content='@waritocomatta')
    meta(property='og:url', content='https://submarine-online.glitch.me')
    meta(property='og:title', content='オンライン潜水艦ゲーム')
    meta(property='og:description', content='N予備校の講座で作ったオンライン潜水艦ゲームです。by @waritocomatta')
    meta(property='og:image', content='https://submarine-online.glitch.me/favicon.ico')

  body
    block content
